<div class="education-container container-block">
    <h2 class="container-block-title">Education</h2>
    <div class="item">
        <h4 class="degree">Ph.D. in Computer Science</h4>
        <h5 class="meta">University of Grenoble</h5>
        <div class="time">2010 - 2014</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">MSc in Computer Science</h4>
        <h5 class="meta">Joseph Fourier University</h5>
        <div class="time">2009 - 2010</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">BSc in Computer Engineering</h4>
        <h5 class="meta">Galatasaray University</h5>
        <div class="time">2005 - 2009</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">High School</h4>
        <h5 class="meta">Saint Joseph High School</h5>
        <div class="time">2001 - 2005</div>
    </div><!--//item-->
</div><!--//education-container-->