<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">R&D Software Engineer</h3>
                            <div class="time">Mars 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">LesFurets.com – Paris, France</div>
                    </div><!--//meta-->
                    <div class="details">
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Development Engineer</h3>
                            <div class="time">June 2015 - January 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Nicolas Bourbaki R&D Center – Annecy, France</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Low Throughput Network for Internet of Things using LoRaWAN protocol.<br>
                        Mentoring junior developers for OSGi and Java.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Ph.D. in Computer Science</h3>
                            <div class="time">November 2010 – November 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Commissariat à l’énergie atomique et aux énergies alternatives (CEA–LETI) – Grenoble, France</div>
                    </div><!--//meta-->
                    <div class="details">
                        <h5>Continuous Deployment of Pervasive Applications in Dynamic Environments</h5>
                        <p>Deterministic deployment of dynamic pervasive applications and platforms using architectural models with variability and Infrastructure As Code principles</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Internship</h3>
                            <div class="time">February 2010 – July 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Informatics Laboratory of Grenoble (LIG) Adele Team – Grenoble, France</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Research project on the autonomic service provider selection.<br>
                        Developing a support system for context-aware service selection in dynamic environments.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Internship</h3>
                            <div class="time">July 2008 – August 2008</div>
                        </div><!--//upper-row-->
                        <div class="company">IBM Turkey – Istanbul, Turkey</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Software development projects and demo applications on Websphere Message Broker, Commerce</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->