<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="item">
        <span class="project-title"><a href="#hook">LoRaWAN Network</a></span> -
        <span class="project-tagline">Design and development of a low throughput network architecture for Internet of Things using LoRaWAN protocol. Designing the administration and update software for wireless access points. Developing network server implementing the protocol. Developing applications for storing and visualizing data. </span>
        <span style="font-style: italic">Java, C++, C, Node.js, MySQL, LoRaWAN</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Applying Continuous Deployment</a></span> -
        <span class="project-tagline">Supervising a final year Masters student in the final year project: Installing a deployment pipeline infrastructure for continuous deployment. Establishing best practices for development, QA and deployment workflow. </span>
        <span style="font-style: italic">Maven, Nexus, Jenkins, Ansible, packer.io</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Ph.D. Project</a></span> -
        <span class="project-tagline">Conception and development of deployment tools and the domain-specific language describing and deploying applications on OSGi platforms. Provided tools are used in home automation platforms and web frameworks. </span>
        <span style="font-style: italic">Apache Felix iPOJO, Groovy, OW2 Chameleon, Wisdom Framework</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">FP7 – BUTLER Internet of Things</a></span> -
        <span class="project-tagline">Design and implementation of service and device models of Internet of Things services using OSGi platforms and RESTful resource representations. The project applies the model for representing and communicating with IoT services on device and platform level. </span>
        <span style="font-style: italic">Contiki, CoAP, 6LowPAN, XBee, Phidgets, UPnP</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">ITEA 2 – OSAMI France</a></span> -
        <span class="project-tagline">Development of the service gateway in charge with data transformation, transfer and application execution. In addition to executing rule-based applications, the gateway sent collected device data to backend JavaEE servers. </span>
        <span style="font-style: italic">OSGi, Apache Felix, Cilia Mediation Framework, JMS, JBoss Drools</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Semantic Web and Data Mining</a></span> -
        <span class="project-tagline">Research project on the semantic web and possible usages of data mining techniques on the web pages. Developed tool uses crawlers to analyze web pages and associate their content with semantic concepts. </span>
        <span style="font-style: italic">OWL API, Protégé, Apache Lucene, Arachnode.net, MS SQL Server 2008</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Hospital Information System</a></span> -
        <span class="project-tagline">Design and prototype of a new generation HIS that is compatible with industry and country standards (HL7) with service-oriented architecture. </span>
        <span style="font-style: italic">IBM DB2, SQLJ, AJAX, XQuery, Apache Axis2</span>
    </div><!--//item-->
</section><!--//section-->