<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-flask"></i>Publications</h2>

    <div class="item">
        <span class="project-title">
            Rondo: A Tool Suite for Continuous Deployment in Dynamic Environments
        </span><br>
        <span style="font-style: italic">Gunalp, O, Escoffier, C, Lalanda, P; </span>
        <p class="project-tagline">
            IEEE International Conference on Services Computing (SCC), 2015 – Rank A
        </p>
    </div><!--//item-->

    <div class="item">
        <span class="project-title">
        A Component Model to Manage the Heterogeneity and Dynamism in Mobile Applications
        </span><br>
        <span style="font-style: italic">Escoffier, C, Lalanda, P, Gunalp, O; </span>
        <p class="project-tagline">
            International Symposium Component-Based Software Engineering (CBSE), 2015 – Rank B
        </p>
    </div><!--//item-->

    <div class="item">
        <span class="project-title">
        Reproducible Deployment of Pervasive Applications
        </span><br>
        <span style="font-style: italic">
            Gunalp, O; Escoffier, C; Lalanda, P;
        </span>
        <p class="project-tagline">
            IEEE International Conference on Pervasive Computing and Communications (PERCOM), Demo Track, 2015 – Rank A*
        </p>
    </div><!--//item-->

    <div class="item">
        <span class="project-title">
            Sharing user IoT devices in the cloud
        </span><br>
        <span style="font-style: italic">
            Benazzouz, Y; Munilla, C; Gunalp, O; Gallissot, M; Gurgen, L;
        </span>
        <p class="project-tagline">
            Internet of Things, IEEE World Forum (WF-IoT), 2014
        </p>
    </div><!--//item-->

    <div class="item">
        <span class="project-title">
            Requirements to Pervasive System Continuous Deployment
        </span><br>
        <span style="font-style: italic">
            Escoffier, C; Gunalp, O; Lalanda, P;
        </span>
        <p class="project-tagline">
            International Workshop on Self-Managing Pervasive Service Systems (SeMaPS), International Conference on Service Oriented Computing (ICSOC), 2013 – Rank A
        </p>
    </div><!--//item-->

    <div class="item">
        <span class="project-title">
            Self-aware cyber-physical systems and applications in smart buildings and cities
        </span><br>
        <span style="font-style: italic">
            Gurgen, L; Gunalp, O; Benazzouz, Y; Gallissot, M;
        </span>
        <p class="project-tagline">
            Design, Automation & Test in Europe Conference & Exhibition (DATE), 2013 – Rank B
        </p>
    </div><!--//item-->

    <div class="item">
        <span class="project-title">
            Autonomic Pervasive Applications Driven by Abstract Specifications
        </span><br>
        <span style="font-style: italic">
            Gunalp, O; Gurgen, L; Lestideau, V; Lalanda P;
        </span>
        <p class="project-tagline">
            International Workshop on Self-aware internet of things (Self-IoT) IEEE International Conference on Autonomic Computing (ICAC), 2012 – Rank B
        </p>
    </div><!--//item-->

</section><!--//section-->