<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
    <div class="skillset">
        <h4>Programming</h4>
        <div class="item">
            <h5>Languages</h5>
            <p>Java, Javascript, Groovy, C, C++, Python, Bash</p>
        </div>
        <div class="item">
            <h5>Project Management</h5>
            <p>Svn, Git, Github, GitLab, Trac, Jira, Scrum, Kanban, Lean</p>
        </div>
        <div class="item">
            <h5>Build &amp; Testing</h5>
            <p>Make, Ant, Maven, npm, Jenkins, Sonar, Puppet, Docker</p>
        </div>
        <div class="item">
            <h5>Web Development</h5>
            <p>HTML5, CSS3, TypeScript, Bootstrap, JQuery, AngularJS</p>
        </div>
    </div>

    <div class="skillset">
        <h4>Software Platforms</h4>
        <div class="item">
            <h5>IDE</h5>
            <p>IntelliJ, Clion, Eclipse, NetBeans</p>
        </div>
        <div class="item">
            <h5>Application Framework</h5>
            <p>JavaEE, OSGi, Apache Felix iPOJO, Node.js</p>
        </div>
        <div class="item">
            <h5>Modeling</h5>
            <p>UML, EMF, Xtect</p>
        </div>
        <div class="item">
            <h5>Database</h5>
            <p>Flyway, MySQL, PostgreSQL, DB2, MongoDB, OrientDB</p>
        </div>
    </div>
    <div class="skillset">
        <h4>Hardware Platforms</h4>
        <div class="item">
            <h5>Embedded System</h5>
            <p>Contiki, Raspberry Pi, Phidgets</p>
        </div>
        <div class="item">
            <h5>Protocols</h5>
            <p>UPnP, Bluetooth, CoAP, MQTT, LoRaWAN</p>
        </div>
    </div>

    <!--<div class="skillset">-->
        <!--<div class="item">-->
            <!--<h3 class="level-title">Java</h3>-->
            <!--<div class="level-bar">-->
                <!--<div class="level-bar-inner" data-level="98%">-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;//level-bar&ndash;&gt;-->
        <!--</div>&lt;!&ndash;//item&ndash;&gt;-->

        <!--<div class="item">-->
            <!--<h3 class="level-title">Javascript</h3>-->
            <!--<div class="level-bar">-->
                <!--<div class="level-bar-inner" data-level="98%">-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;//level-bar&ndash;&gt;-->
        <!--</div>&lt;!&ndash;//item&ndash;&gt;-->

        <!--<div class="item">-->
            <!--<h3 class="level-title">Groovy</h3>-->
            <!--<div class="level-bar">-->
                <!--<div class="level-bar-inner" data-level="80%">-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;//level-bar&ndash;&gt;-->
        <!--</div>&lt;!&ndash;//item&ndash;&gt;-->

        <!--<div class="item">-->
            <!--<h3 class="level-title">C &amp; C++</h3>-->
            <!--<div class="level-bar">-->
                <!--<div class="level-bar-inner" data-level="70%">-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;//level-bar&ndash;&gt;-->
        <!--</div>&lt;!&ndash;//item&ndash;&gt;-->

        <!--<div class="item">-->
            <!--<h3 class="level-title">Bash</h3>-->
            <!--<div class="level-bar">-->
                <!--<div class="level-bar-inner" data-level="85%">-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;//level-bar&ndash;&gt;-->
        <!--</div>&lt;!&ndash;//item&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="skillset">-->
        <!--<h4>Project Management</h4>-->
        <!--<div class="item">-->
            <!--<h3 class="level-title">Svn</h3>-->
            <!--<div class="level-bar">-->
                <!--<div class="level-bar-inner" data-level="70%">-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;//level-bar&ndash;&gt;-->
        <!--</div>&lt;!&ndash;//item&ndash;&gt;-->

        <!--<div class="item">-->
            <!--<h3 class="level-title">Git &amp; Gitlab &amp; Github</h3>-->
            <!--<div class="level-bar">-->
                <!--<div class="level-bar-inner" data-level="90%">-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;//level-bar&ndash;&gt;-->
        <!--</div>&lt;!&ndash;//item&ndash;&gt;-->

        <!--<div class="item">-->
            <!--<h3 class="level-title">Scrum</h3>-->
            <!--<div class="level-bar">-->
                <!--<div class="level-bar-inner" data-level="80%">-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;//level-bar&ndash;&gt;-->
        <!--</div>&lt;!&ndash;//item&ndash;&gt;-->

        <!--<div class="item">-->
            <!--<h3 class="level-title">Kanban</h3>-->
            <!--<div class="level-bar">-->
                <!--<div class="level-bar-inner" data-level="90%">-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;//level-bar&ndash;&gt;-->
        <!--</div>&lt;!&ndash;//item&ndash;&gt;-->
        <!--Trac, Jira, Lean-->
    <!--</div>-->
    <!--<div class="skillset">-->
        <!--<h4>Build & Testing</h4>-->
        <!--Make, Ant, Maven, npm, Jenkins, Sonar, Puppet, Docker-->
    <!--</div>-->
    <!--<div class="skillset">-->
        <!--<h4>Web Development</h4>-->
        <!--<div class="item">-->
            <!--<h3 class="level-title">HTML5 &amp; CSS3</h3>-->
            <!--<div class="level-bar">-->
                <!--<div class="level-bar-inner" data-level="80%">-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;//level-bar&ndash;&gt;-->
        <!--</div>&lt;!&ndash;//item&ndash;&gt;-->

        <!--<div class="item">-->
            <!--<h3 class="level-title">TypeScript</h3>-->
            <!--<div class="level-bar">-->
                <!--<div class="level-bar-inner" data-level="95%">-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;//level-bar&ndash;&gt;-->
        <!--</div>&lt;!&ndash;//item&ndash;&gt;-->

        <!--<div class="item">-->
            <!--<h3 class="level-title">JQuery</h3>-->
            <!--<div class="level-bar">-->
                <!--<div class="level-bar-inner" data-level="85%">-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;//level-bar&ndash;&gt;-->
        <!--</div>&lt;!&ndash;//item&ndash;&gt;-->

        <!--<div class="item">-->
            <!--<h3 class="level-title">AngularJS</h3>-->
            <!--<div class="level-bar">-->
                <!--<div class="level-bar-inner" data-level="85%">-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;//level-bar&ndash;&gt;-->
        <!--</div>&lt;!&ndash;//item&ndash;&gt;-->

        <!--<div class="item">-->
            <!--<h3 class="level-title">Bootstrap</h3>-->
            <!--<div class="level-bar">-->
                <!--<div class="level-bar-inner" data-level="85%">-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;//level-bar&ndash;&gt;-->
        <!--</div>&lt;!&ndash;//item&ndash;&gt;-->

        <!--<div class="item">-->
            <!--<h3 class="level-title">Sketch &amp; Photoshop</h3>-->
            <!--<div class="level-bar">-->
                <!--<div class="level-bar-inner" data-level="60%">-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;//level-bar&ndash;&gt;-->
        <!--</div>&lt;!&ndash;//item&ndash;&gt;-->
    <!--</div>-->

</section><!--//skills-section-->